extends layout

block content
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script. 
        const user = !{JSON.stringify(user)}
        const favoritos = !{JSON.stringify(favoritos)};
        const acordaoId = !{processo._id}
    div(style="display:block; content:''; height: 60px;")#topo
    // Navbar
    // Modal
    #docModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#exampleModalLabel.modal-title.fs-5 Insira Documento
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                form(action='/files' method="POST" enctype="multipart/form-data")
                    .modal-body
                        input(type="file" name="myFile")
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Fechar
                        button.btn.btn-primary(value='send' type='submit') Submeter Documento
    // Navbar
    include navbar.pug
    +includeNavBar(user)

    section.py-5.text-center
        .container
            h1.py-5 Acordão
            form(action="/acordaos/edit" method="POST")
                .row
                    .col-md-3.py-5.text-start
                            .d-flex.justify-content-center.mb-3
                                a.list-group-item.list-group-item-action(href="#descritores") Descritores
                            .d-flex.justify-content-center.mb-3
                                a.list-group-item.list-group-item-action(href="#sumario") Sumário
                            .d-flex.justify-content-center.mb-3    
                                a.list-group-item.list-group-item-action(href="#parcial") Decisão Parcial 
                            .d-flex.justify-content-center.mb-3
                                a.list-group-item.list-group-item-action(href="#integral") Decisão Integral
                            .d-flex.justify-content-center.mb-3
                                a.list-group-item.list-group-item-action(href="#topo") Voltar ao topo
                    .col-md-9.py-5
                        section.text-start#descritores 
                            h1.text-primary= processo.Processo
                            hr.text-primary
                            input(type="hidden" name="_id" value=processo._id)
                            p #[b Relator:] #[input(type="text" name="Relator" value=processo.Relator)]
                            p #[b Descritores:] #[input(type="text" name="Descritores" value=processo.Descritores)]
                            p #[b Processo:] #[input(type="text" name="Processo" value=processo.Processo)]
                            p #[b Nº Convencional:] #[input(type="text" name="Nº Convencional" value=processo['Nº Convencional'])]
                            p #[b Data do Acordão:] #[input(type="text" name="Data do Acordão" value=processo['Data do Acordão'])]
                            p #[b Votação:] #[input(type="text" name="Votação" value=processo.Votação)]
                            p #[b Texto Integral:] #[input(type="text" name="Texto Integral" value=processo['Texto Integral'])]
                            p #[b Nível de acesso:] #{processo['Nível de acesso']}
                            p #[b Meio Processual:] #[input(type="text" name="Meio Processual" value=processo['Meio Processual'])]
                            p #[b Decisão:] #[input(type="text" name="Decisão" value=processo.Decisão)]
                            p #[b Indicações eventuais:] #[input(type="text" name="Indicações Eventuais" value=processo['Indicações Eventuais'])]
                            p #[b Url:] 
                                a(href='http://www.dgsi.pt' + processo['url']) #[input(type="text" name="url" value=processo.url)] 
                                
                            each val in Object.entries(processo).filter(([key]) => !['__v', 'url', '_id', 'Relator', 'Descritores', 'Processo', 'Nº Convencional', 'Data do Acordão', 'Votação', 'Texto Integral', 'Nível de acesso', 'Meio Processual', 'Decisão', 'Indicações eventuais', 'Sumário', 'Decisão Texto Parcial', 'Decisão Texto Integral' ].includes(key))  
                                p #[b #{val[0]}:]  #[input(type="text" name=val[0] value=val[1])]
                        section.text-start#sumario.mt-2 
                            h1.text-primary Sumário
                            hr.text-primary
                            textarea(name="Sumário", cols="60", rows="10") #{processo['Sumário']}
                        section.text-start#parcial.mt-2 
                            h1.text-primary Decisão Texto Parcial 
                            hr.text-primary
                            textarea(name="Decisão Texto Parcial", cols="60", rows="10") #{processo['Decisão Texto Parcial']}
                        section.text-start#integral.mt-2 
                            h1.text-primary Decisão Texto Integral
                            hr.text-primary
                            textarea(name="Decisão Texto Integral", cols="60", rows="10") #{processo['Decisão Texto Integral']}
                input(type="submit" value="Submit")
    script(type="text/javascript" src="/public/js/favoritos.js")
    // Footer
    footer.p-3.bg-light.text-center.mt-auto.position-relative.shadow
        .container 
            p.lead Copyright &copy; 2023 EngWeb, Acordãos
            a.position-absolute.bottom-0.end-0.p-3(href="#")
                i.fa-solid.fa-circle-arrow-up.h3(style="color: grey;")

